<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
<div class="container">
    <h1>About</h1>
    <p>This project was developed by Diarmuid Smith as part of CSU44099 Final Year Project. I am currently in my final year
    of B.A. (Mod) Computer Science and Business at Trinity College Dublin. I can be contacted by email through <a href="mailto:smithdi@tcd.ie">smithdi@tcd.ie</a>.

    <br><br>This project was supervised by Professor Declan O'Sullivan of the School of Computer Science and Statistics.
    The project was further assisted by Dr Ciarán Wallace of the School of History.</p>
</div>
</body>
{% endblock %}
</html>