<html>
{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row mb-3">
        <h1>Introduction</h1>
        <p>This project aims to provide a geospatial perspective on the Coolattin Estate, a former collection of lands held by the aristocratic Fitzwilliam family.
        The Fitzwilliams were contemporaneously progressive and kept detailed records of the tenancies held on their estates. They also kept records of evictions
        and assisted emigrations that occurred extensively during the famine.</p>
    </div>
    <hr>
    <div class="row mb-3">
        <h1>Map</h1>
        <div class="col-md-10">
            <input type="text" id="search-bar" class="form-control" placeholder="Search for a townland..."
                   style="height: 3rem; border-radius: 0;" oninput="filterTownlands()">
        </div>
    </div>

    <!-- Suggestion Gallery -->
    <div class="col-md-10" id="suggestions" style="display: none; padding: 0;">
        <!-- Results as cards -->
    </div>

    <div class="row mt-3">
        <div class="col-md-10">
            <div id="map" class="border border-dark border-2">
                {{ map_html | safe }}
            </div>
        </div>
    </div>
</div>

<script src="static/js/index.js"></script>

{% endblock %}

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<!-- Leaflet JS -->
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
</html>